@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-gradient-background {
    background: linear-gradient(-45deg, #166534, #218647, #2da25a, #3cb96c);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 75vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animated-gradient-background-header {
    background: linear-gradient(-45deg, #166534, #218647, #2da25a, #3cb96c);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: full;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.bg-custom-green {
    background-color: #04643c;
}

.top-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-link.active-link {
    color: green !important;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container.menu-open nav,
.navbar-container.menu-open ul,
.navbar-container.menu-open li {
    transition: transform 0.8s ease-in-out;
}

.home {
    overflow-y: auto;
}

.border {
    border-width: 3px;
}