@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-green {
    background-color: #04643c;
}

.top-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-link.active-link {
    color: green !important;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.home {
    overflow-y: auto;
}

.border {
    border-width: 3px;
}